@font-face {
  font-family: 'axa';
  src:  url('fonts/axa.eot?9syd3i');
  src:  url('fonts/axa.eot?9syd3i#iefix') format('embedded-opentype'),
    url('fonts/axa.ttf?9syd3i') format('truetype'),
    url('fonts/axa.woff?9syd3i') format('woff'),
    url('fonts/axa.svg?9syd3i#axa') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-axa-"], [class*=" icon-axa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'axa' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-axa-fu001:before {
  content: "\e906";
}
.icon-axa-fu002:before {
  content: "\e907";
}
.icon-axa-fu003:before {
  content: "\e908";
}
.icon-axa-fu004:before {
  content: "\e909";
}
.icon-axa-fu005:before {
  content: "\e90a";
}
.icon-axa-fu006:before {
  content: "\e90b";
}
.icon-axa-fu007:before {
  content: "\e90c";
}
.icon-axa-fu008:before {
  content: "\e90d";
}
.icon-axa-fu009:before {
  content: "\e90e";
}
.icon-axa-fu010:before {
  content: "\e90f";
}
.icon-axa-fu011:before {
  content: "\e910";
}
.icon-axa-fu012:before {
  content: "\e911";
}
.icon-axa-fu013:before {
  content: "\e912";
}
.icon-axa-fu014:before {
  content: "\e913";
}
.icon-axa-fu015:before {
  content: "\e914";
}
.icon-axa-fu016:before {
  content: "\e915";
}
.icon-axa-fu017:before {
  content: "\e916";
}
.icon-axa-fu018:before {
  content: "\e917";
}
.icon-axa-fu019:before {
  content: "\e918";
}
.icon-axa-fu020:before {
  content: "\e919";
}
.icon-axa-fu021:before {
  content: "\e91a";
}
.icon-axa-fu022:before {
  content: "\e91b";
}
.icon-axa-fu023:before {
  content: "\e91c";
}
.icon-axa-fu024:before {
  content: "\e91d";
}
.icon-axa-fu025:before {
  content: "\e91e";
}
.icon-axa-fu026:before {
  content: "\e91f";
}
.icon-axa-fu027:before {
  content: "\e920";
}
.icon-axa-fu028:before {
  content: "\e921";
}
.icon-axa-fu029:before {
  content: "\e922";
}
.icon-axa-fu048:before {
  content: "\e93b";
}
.icon-axa-fu030:before {
  content: "\e923";
}
.icon-axa-fu031:before {
  content: "\e924";
}
.icon-axa-fu032:before {
  content: "\e925";
}
.icon-axa-fu033:before {
  content: "\e926";
}
.icon-axa-fu034:before {
  content: "\e927";
}
.icon-axa-fu035:before {
  content: "\e928";
}
.icon-axa-fu036:before {
  content: "\e929";
}
.icon-axa-fu037:before {
  content: "\e92a";
}
.icon-axa-fu038:before {
  content: "\e92b";
}
.icon-axa-fu039:before {
  content: "\e92c";
}
.icon-axa-fu040:before {
  content: "\e92d";
}
.icon-axa-fu041:before {
  content: "\e92e";
}
.icon-axa-fu042:before {
  content: "\e92f";
}
.icon-axa-fu043:before {
  content: "\e930";
}
.icon-axa-fu044:before {
  content: "\e931";
}
.icon-axa-fu045:before {
  content: "\e93c";
}
.icon-axa-fu046:before {
  content: "\e93d";
}
.icon-axa-fu047:before {
  content: "\e93e";
}
.icon-axa-fu049:before {
  content: "\e93f";
}
.icon-axa-fu050:before {
  content: "\e940";
}
.icon-axa-fu051:before {
  content: "\e941";
}
.icon-axa-fu052:before {
  content: "\e942";
}
.icon-axa-fu053:before {
  content: "\e943";
}
.icon-axa-fu054:before {
  content: "\e944";
}
.icon-axa-fu055:before {
  content: "\e945";
}
.icon-axa-fu056:before {
  content: "\e948";
}
.icon-axa-fu057:before {
  content: "\e949";
}
.icon-axa-fu058:before {
  content: "\e94a";
}
.icon-axa-fu059:before {
  content: "\e94b";
}
.icon-axa-fu060:before {
  content: "\e94d";
}
.icon-axa-fu061:before {
  content: "\e94e";
}
.icon-axa-fu062:before {
  content: "\e94f";
}
.icon-axa-fu063:before {
  content: "\e950";
}
.icon-axa-fu064:before {
  content: "\e951";
}
.icon-axa-fu065:before {
  content: "\e952";
}
.icon-axa-fu066:before {
  content: "\e953";
}
.icon-axa-fu067:before {
  content: "\e954";
}
.icon-axa-fu068:before {
  content: "\e955";
}
.icon-axa-fu069:before {
  content: "\e95e";
}
.icon-axa-fu070:before {
  content: "\e963";
}
.icon-axa-fu071:before {
  content: "\e966";
}
.icon-axa-fu072:before {
  content: "\e967";
}
.icon-axa-fu073:before {
  content: "\e96c";
}
.icon-axa-fu074:before {
  content: "\e96d";
}
.icon-axa-fu075:before {
  content: "\e96e";
}
.icon-axa-ilu001:before {
  content: "\e900";
}
.icon-axa-ilu002:before {
  content: "\e901";
}
.icon-axa-ilu003:before {
  content: "\e902";
}
.icon-axa-ilu004:before {
  content: "\e903";
}
.icon-axa-ilu005:before {
  content: "\e904";
}
.icon-axa-ilu006:before {
  content: "\e905";
}
.icon-axa-ilu007:before {
  content: "\e932";
}
.icon-axa-ilu008:before {
  content: "\e933";
}
.icon-axa-ilu009:before {
  content: "\e934";
}
.icon-axa-ilu010:before {
  content: "\e935";
}
.icon-axa-ilu011:before {
  content: "\e936";
}
.icon-axa-ilu012:before {
  content: "\e937";
}
.icon-axa-ilu013:before {
  content: "\e938";
}
.icon-axa-ilu014:before {
  content: "\e939";
}
.icon-axa-ilu015:before {
  content: "\e93a";
}
.icon-axa-ilu016:before {
  content: "\e946";
}
.icon-axa-ilu017:before {
  content: "\e947";
}
.icon-axa-ilu018:before {
  content: "\e94c";
}
.icon-axa-ilu019:before {
  content: "\e956";
}
.icon-axa-ilu020:before {
  content: "\e957";
}
.icon-axa-ilu021:before {
  content: "\e958";
}
.icon-axa-ilu022:before {
  content: "\e959";
}
.icon-axa-ilu023:before {
  content: "\e95a";
}
.icon-axa-ilu024:before {
  content: "\e95b";
}
.icon-axa-ilu025:before {
  content: "\e95c";
}
.icon-axa-ilu026:before {
  content: "\e95d";
}
.icon-axa-ilu027:before {
  content: "\e95f";
}
.icon-axa-ilu028:before {
  content: "\e960";
}
.icon-axa-ilu029:before {
  content: "\e961";
}
.icon-axa-ilu030:before {
  content: "\e962";
}
.icon-axa-ilu031:before {
  content: "\e964";
}
.icon-axa-ilu032:before {
  content: "\e965";
}
.icon-axa-ilu033:before {
  content: "\e968";
}
.icon-axa-ilu034:before {
  content: "\e969";
}
.icon-axa-ilu035:before {
  content: "\e96a";
}
.icon-axa-ilu036:before {
  content: "\e96b";
}
.icon-axa-ilu037:before {
  content: "\e96f";
}
.icon-axa-ilu038:before {
  content: "\e970";
}
.icon-axa-ilu039:before {
  content: "\e971";
}
.icon-axa-ilu040:before {
  content: "\e972";
}
.icon-axa-ilu041:before {
  content: "\e973";
}
.icon-axa-ilu042:before {
  content: "\e974";
}
